<div *ngIf="calendarTaskList != undefined && activityList != undefined">
  <section class="generic-section">
    <div class="module-title-bar">
      <div class="title-container">
        <h5>Calender</h5>
      </div>
      <div class="button-container">
        <ejs-tooltip class="button-container" content= 'Select Users'>
        <button ejs-button 
          cssClass="e-small e-round"
          (click)="clickedCalendarSelectUsers($event);"
        >
          <i class="fa fa-user-o"></i>
        </button> </ejs-tooltip>
      </div>
    </div>
    <div class="module-filter-bar">
      <div class="clearfix">
        <div class="float-right">
          <div class="group-container">
            <div class="float-left mr-2">
              <label class="e-label horizontal-middle">
                Client:&nbsp;
              </label>
            </div>
            <div class="float-left">
              <ejs-multiselect #clientMultiSelect
                [dataSource]='gateway.currentClientList'
                [fields]='gateway.clientFields'
                [(value)]='clientValues'
                (select)='onClientValueChange($event)'
                (removed)='onClientValueChange($event)'
                placeholder="Click and Search for Clients"
              >
                <ng-template #itemTemplate let-client>
                  <!-- <span>{{client.AccountId}}</span> -  --><span>{{client.CRMAccountFullName}}</span>
                </ng-template>
              </ejs-multiselect>
            </div>
            <div class="float-left ml-4 mr-2">
              <label class="e-label horizontal-middle">
                Type:&nbsp;
              </label>
            </div>
            <div class="float-left">
              <ejs-dropdownlist placeholder='Select' #typeDropdown
                [dataSource]='config.actionSearchTypes'
                [fields]="config.actionSearchFields"
                [(value)]='calendarTaskListOptions.ActivityType'
              ></ejs-dropdownlist>
            </div>
            <div class="float-left ml-4 mr-2">
              <label class="e-label horizontal-middle">
                Priority:&nbsp;
              </label>
            </div>
            <div class="float-left">
              <ejs-dropdownlist placeholder='Select'#typeDropdown
                [dataSource]='config.prioritySearchTypes'
                [fields]="config.prioritySearchFields"
                [(value)]='calendarTaskListOptions.Priority'
              ></ejs-dropdownlist>
            </div>
          </div>
          <div class="group-container">
            <button ejs-button cssClass="e-primary" (click)="searchCalendar()">Search</button>
            <button ejs-button cssClass="e-primary" (click)="clearCalendarSearchOptions()">Clear Filter</button>
          </div>
        </div>
      </div>
    </div>
    <div class="module-content-box schedule-box">
      <ejs-schedule #scheduleObj
        height='500px'
        [selectedDate]="selectedDate"
        [eventSettings]="eventSettings"
        [showQuickInfo]="showQuickInfo"
        [timezone]="Australia/Sydney"
        [readonly]="readonly"
        currentView="Month"
        (popupOpen)="onPopupOpen($event)"
        (eventClick)="onEventClick($event)"
        (navigating)="onNavigating($event)"
        (cellDoubleClick)="onCellDoubleClick($event)"
      >
        <e-views>
          <e-view option="Day"></e-view>
          <e-view option="Week"></e-view>
          <e-view option="Month"></e-view>
          <e-view option="Agenda" ></e-view>
        </e-views>
      </ejs-schedule>
    </div>
  </section>

  <div class="mb-4"></div>

  <section class="generic-section">
    <div class="module-title-bar">
      <div class="title-container">
        <h5>Task List</h5>
      </div>
      <div class="button-container">
        <ejs-tooltip class="button-container" content= 'Select Users'>
            <button ejs-button
              cssClass="e-small e-round"
              (click)="clickedTaskSelectUsers($event)"
            >
              <i class="fa fa-user-o"></i>
            </button> </ejs-tooltip>

        <ejs-tooltip class="button-container" content= 'Export Activities'>
            <button ejs-button
              cssClass="e-small e-round"
              (click)="clickedTaskExportTasks($Event)"
            >
              <i class="fa fa-download"></i>
            </button> </ejs-tooltip>
        
        <ejs-tooltip class="button-container" content= 'Customise Column'>
            <button ejs-button
              cssClass="e-small e-round"
              (click)="showGridColumnChooser()"
            >
              <i class="fa fa-wrench fa-flip-horizontal"></i>
            </button> </ejs-tooltip>
        
        <ejs-tooltip class="button-container" content= 'Select Date Search'>
        <button ejs-button
          cssClass="e-small e-round"
          (click)="clickedTaskSelectDates($event)"
        >
          <i class="fa fa-calendar"></i>
        </button> </ejs-tooltip>

      </div>
    </div>
    <div class="module-filter-bar">
      <div class="clearfix">
        <div class="float-right">
          <div class="group-container">
            <div class="float-left mr-2">
              <label class="e-label horizontal-middle">
                Type:&nbsp;
              </label>
            </div>
            <div class="float-left">
              <ejs-dropdownlist placeholder='Select'#typeDropdown
                [dataSource]='config.actionSearchTypes'
                [fields]="config.actionSearchFields"
                [(value)]='activityListOptions.ActivityType'
              ></ejs-dropdownlist>
            </div>
            <div class="float-left ml-4 mr-2">
              <label class="e-label horizontal-middle">
                Priority:&nbsp;
              </label>
            </div>
            <div class="float-left">
              <ejs-dropdownlist placeholder='Select'#typeDropdown
                [dataSource]='config.prioritySearchTypes'
                [fields]="config.prioritySearchFields"
                [(value)]='activityListOptions.Priority'
              ></ejs-dropdownlist>
            </div>
          </div>
          <div class="group-container">
            <button ejs-button cssClass="e-primary" (click)="searchActivities()">Search</button>
            <button ejs-button cssClass="e-primary" (click)="clearActivitySearchOptions()">Clear Filter</button>
          </div>
        </div>
      </div>
    </div>
    <div class="module-content-box grid-box">
      <ejs-grid #grid
        [dataSource]='activityList'
        [allowSorting]='true'
        [allowPaging]='true'
        [allowFiltering]='true'
        [filterSettings]='filterOptions'
        [allowTextWrap]='false'
        [showColumnChooser]='true'
        [selectionSettings]='gridSelectionOptions'
        [pageSettings]="config.gridPageSettings"
        (rowSelected)='rowSelected($event)'
        (click)='rowClicked($event)'
        (created)='gridCreated($event)'
      >
        <e-columns>
          <e-column type='checkbox' width='50' [showInColumnChooser]='false'></e-column>
          <e-column field='Id' headerText='Task#' width=80 [allowFiltering]='false' ></e-column>
          <e-column field='CreatedDateStd' format="yMd" headerText='Date created' width=130 [filterBarTemplate]='createdDateFilter'></e-column>
          <e-column field='ActivityType' headerText='Type' width=150 [filterBarTemplate]='activityFilter'>
            <ng-template #template let-activity>
              <span [innerHtml]="utility.getActivitySymbolHtml(activity.ActivityType)"></span>
            </ng-template>
          </e-column>
          <e-column field='ClientNames' headerText='Client' width=200></e-column>
          <e-column field='Regarding' headerText='Regarding' width=500></e-column>
          <e-column field='ScheduledWithNames' headerText='Scheduled with' width=200></e-column>
          <e-column field='Priority' headerText='Priority' width=120 [filterBarTemplate]='priorityFilter'>
            <ng-template #template let-activity>
              <span [innerHtml]="utility.getPrioritySymbolHtml(activity.Priority)"></span>
            </ng-template>
          </e-column>
          <e-column field='CreatedBy' headerText='Originator' width=200></e-column>
          <!-- <e-column field='email' headerText='Email' _width='150'></e-column>
          <e-column field='phone' headerText='Phone' _width='180' textAlign='Right'></e-column>
          <e-column field='registered' headerText='Date' width='150' textAlign='Right'></e-column> -->
        </e-columns>
      </ejs-grid>
    </div>
  </section>
</div>
<div *ngIf="calendarTaskList == undefined || activityList == undefined">
  <div class="py-4"></div>
  <div class="text-center">
    <div class="loader-box">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
</div>
